/* .a{
/* display: flex; */
/* align-items: center;
flex-direction: column; */
 .red{
     background-color: red;
 }
 .yellow{
     background-color: yellow;
 }
 .green{
     background-color: green;
 }